body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: em($font-size-default, 16px);
	font-weight: 400;
	line-height: 1.3em;
}
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	margin: 0 0 .5em;

	+ .subheader {
		margin-top: -.5em;
	}
}

// .h1, h1 {@include font-scaling(1.5em, 2em);}
// .h2, h2 {@include font-scaling(1.3em, 1.5em);}
// .h3, h3 {@include font-scaling(1.2em, 1.33em);}
// .h4, h4 {@include font-scaling(1.1em, 1.17em);}


ul {
	padding-left: 1em;
	margin: 0;
}

.subheader { font-weight: 400; }