//General conversion functions, input one format, get another one back

// @author Rick Meijer <rick.meijer@mangrove.com>
// A mixin for easy em calculation
// Use this to convert px to em
//
// @param $desired_size	- 	measured size in px;
// @param $parent_size 	- 	font-size of the element
// @return calculated value in em

@function em($desired-units,$base-unit:$font-size-default) {
	@if unitless($desired-units) {
		@warn "Assuming #{$desired-units} to be in pixels";
		$desired-units: $desired-units + 0px
	}
	
	@if unit($desired-units) == 'em' {
		@return ($desired-units / $base-unit) * $font-size-default;
	}

	@return ($desired-units / $base-unit)+0em;
}

@function rem($desired-units,$base-unit:$font-size-default) {
	@if unitless($desired-units) {
		@warn "Assuming #{$desired-units} to be in pixels";
		$desired-units: $desired-units + 0px
	}
	@return ($desired-units / $base-unit)+0rem;
}